<!DOCTYPE html>
<html>
<head>
<style>
.Div1 {
  border: 5px blue;
  background-color: grey;
  text-align: center;
}
</style>
</head>

<body>
<div class="Div1">
  <form action="/gift">
  <input type="submit" value="Give sticker">
  </form>
</div>

</body>
</html>
