<!DOCTYPE html>
<html>
<head>
<style>
.Div1 {
  border: 5px blue;
  background-color: grey;
  text-align: center;
}
</style>
</head>

<body>

<div class="Div1">
  <h1>Hey, friend - please give me your name...</h1>
  <form action="/user" method="post">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
